.reservations{
    display: flex;
    justify-content: center;
    padding: 20px;
    overflow: auto;

    th,td,button {
        padding: 10px;
        font-size: 14px;
        text-align: center;
    }
    @media(max-width:1400px){

        th,td,button{
            font-size: 11px;
        }
       
    }
}

