<div class="header-wrapper">
  <div class="header">
    <a routerLink="">
      <h2>Грумер Ирина</h2>
    </a>
    <nav class="desktop-menu">
      <ul>
        <li>
          <a routerLink="/services" routerLinkActive="active-link">Услуги</a>
        </li>
        <li>
          <a routerLink="/profile" routerLinkActive="active-link"
            >Личный кабинет</a
          >
        </li>
        <li>
          <a routerLink="/contacts" routerLinkActive="active-link">Контакты</a>
        </li>
        <li>
          <a routerLink="/portfolio" routerLinkActive="active-link"
            >Портфолио</a
          >
        </li>
        <li *ngIf="(user$ | async) === null" selected>
          <a routerLink="/auth">Вход</a>
        </li>
        <li *ngIf="(user$ | async) != null" selected>
          <a>Выход</a>
        </li>
      </ul>
    </nav>
    <div class="mobile-menu">
      <div (click)="showMobileMenu()" class="burger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div *ngIf="isShowMobileMenu" class="menu-content">
        <div (click)="closeMobileMenu()" class="close">
          <mat-icon>close</mat-icon>
        </div>
        <nav>
          <ul>
            <li>
              <a
                routerLink="/services"
                routerLinkActive="active-link"
                (click)="closeMobileMenu()"
                >Услуги</a
              >
            </li>
            <li>
              <a
                routerLink="/profile"
                routerLinkActive="active-link"
                (click)="closeMobileMenu()"
                >Личный кабинет</a
              >
            </li>
            <li>
              <a
                routerLink="/contacts"
                routerLinkActive="active-link"
                (click)="closeMobileMenu()"
                >Контакты</a
              >
            </li>
            <li>
              <a
                routerLink="/portfolio"
                routerLinkActive="active-link"
                (click)="closeMobileMenu()"
                >Портфолио</a
              >
            </li>
            <li *ngIf="(user$ | async) === null" selected>
              <a routerLink="/auth">Вход</a>
            </li>
            <li *ngIf="(user$ | async) != null" selected>
              <a>Выход</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
