@import '../../../../../../../variables';

.admin__bar-wrap{
  display: none;
}
.admin-bar {
  display: block;
  background: $webDarkBg;
  min-height: 100vh;
  height: 100%;
  width: 30vw;
  .navigation {
    ul {
      list-style: none;

      a {
        display: block;
        color: $white;
        text-decoration: none;
        height: 45px;
        line-height: 45px;
        padding-left: 20px;
        transition: 0.2s background-color;

        &:hover,
        &.active-link {
          background: $webGreenBg;
        }

        &.to-main-page {
          height: 60px;
          line-height: 60px;
          padding-right: 20px;
          border: 1px solid #5acab2;
          border-left: none;
          border-top: none;

          mat-icon {
            position: relative;
            top: 3px;
          }
        }
      }
    }
  }
}

@media(max-width: 1023px){
  .admin-bar{
    display: none;
  }
  .admin__bar-wrap{
    display: block;

    .admin__bar-block{
      display: block;
      position: fixed;
      width:100vw;
      height: 100vh;
      background: #33373e;
      opacity: 0.4;
      z-index: 1;
    }
      .admin__bar{
        display: block;
        width: 80vw;
        position: fixed;
        height: 100%;
        list-style: none;
        background-color: #33373e;
        padding: 55px 10px 10px 20px;
        margin: 0;
        top: 0;
        transition: left 0.4s;
        z-index: 6;
  
        .admin__icon-clear{
          position: absolute;
          right:5vw;
          color:white;
        }
        .navigation__element{
          margin: 0 0 25px 0;
          padding: 0 0 0 25px;
          box-sizing: border-box;
          width: 100%;
          .navigation__icon{
            color: white;
          }
          .navigation__link{
            color: white;
            text-decoration: none;
            padding: 0 0 0 10px;
            vertical-align: super;
          }
        }
        .navigation__element:first-child{
          margin-top: 25px;
        }
        
      }
  }


}
