<div class="admin-bar">
  <nav class="navigation navigation-body">
    <ul>
      <li>
        <a routerLink="/" class="to-main-page">
          <mat-icon>reply</mat-icon>Вернуться на главную страницу</a
        >
      </li>
      <li><a routerLinkActive="active-link">Статистика</a></li>
      <li>
        <a routerLink="/admin/users" routerLinkActive="active-link"
          >Пользователи</a
        >
      </li>
      <li>
        <a routerLink="/admin/reservations" routerLinkActive="active-link"
          >Бронирования</a
        >
      </li>
      <li>
        <a routerLink="/admin/portfolio" routerLinkActive="active-link"
          >Портфолио</a
        >
      </li>
    </ul>
  </nav>
</div>
