@import '../../../../../../../variables';

.admin-bar {
  background: $webDarkBg;
  height: 100vh;
  .navigation {
    ul {
      list-style: none;

      a {
        display: block;
        color: $white;
        text-decoration: none;
        height: 45px;
        line-height: 45px;
        padding-left: 20px;
        transition: 0.2s background-color;

        &:hover,
        &.active-link {
          background: $webGreenBg;
        }

        &.to-main-page {
          height: 60px;
          line-height: 60px;
          padding-right: 20px;
          border: 1px solid #5acab2;
          border-left: none;
          border-top: none;

          mat-icon {
            position: relative;
            top: 3px;
          }
        }
      }
    }
  }
}
