.login-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url(https://firebasestorage.googleapis.com/v0/b/dogswebsite-ae5d3.appspot.com/o/9064.jpg?alt=media&token=733019b7-f37d-42cf-9af3-6e126643b112);
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	.return-home {
		font-family: Comic Sans MS, Comic Sans, cursive;
		font-size: 2.5vh;
		margin: 5px;
		color: #3d9544;
		text-decoration: none;
	}
	@media screen and (orientation: portrait) {
		.return-home {
			color: blue;
			background: rgba(172, 233, 6, 0.6);
		}
	}
	.return-home:hover {
		text-decoration: underline;
	}
	.form-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 2px solid black;
		border-radius: 10px;
		height: 47vh;
		width: 40vh;
		background: rgba(255, 255, 255, 0.6);
		.error-message {
			width: 35vh;
			border: 1px solid red;
			border-radius: 5px;
			background: rgba(250, 73, 73, 0.6);
			display: flex;
			justify-content: center;
			margin: 2%;

			p {
				margin: 5%;
				color: red;
			}
		}
		form {
			mat-form-field {
				width: 35vh;
				mat-error {
					font-size: 12px;
				}
			}
			.login {
				display: flex;
				justify-content: space-between;
				.signIn {
					margin-top: 5%;
					width: 12vh;
					height: 4vh;
				}
				.forgot-sign-up {
					display: flex;
					flex-direction: column;
				}
			}
		}
	}

	mat-icon {
		cursor: pointer;
	}
	.sign-up {
		margin-top: 5%;
	}
	@media screen and (orientation: portrait) {
		.form-container {
			width: 45vh;
			height: 55vh;
		}
		.signIn {
			min-width: 10ch;
			min-height: 4ch;
		}
	}
	@media (max-height: 450px) {
		.return-home {
			font-size: 20px;
		}
		.error-message {
			width: 80vh;
			margin: 0;
		}
		.form-container {
			width: 100vh;
			height: 80vh;
			.error-message {
				width: 80vh;
				margin: 0;
			}
		}
		form {
			width: 80vh;
			mat-form-field {
				min-width: 37ch;
			}
			.invalid-email {
				margin: 0;
				padding: 0;
			}
		}

		.login {
			.signIn {
				min-width: 10ch;
				min-height: 4ch;
			}
			.sign-up {
				margin-top: 5%;
			}
		}
	}
}
@media (max-height: 450px) {
	.login-container {
		background-color: black;
		background-size: 90ch 100vh;
	}
}

.example-container .mat-form-field + .mat-form-field {
	margin-left: 8px;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
	display: none;
}
