@import '../../../../../variables';

.home-wrapper {
  background: $webWhiteBg;
}

// Welcome block
.welcome-block {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  position: relative;

  &__wrapper {
    background: $webGreenBg;
  }

  .greetings {
    padding: 30px 30px 30px 0;
    color: $white;
    flex: 0 1 40%;

    @media all and (max-width: $laptop) {
      padding-left: 30px;
    }

    @media all and (max-width: $tablet) {
      flex-basis: 52%;
    }

    @media all and (max-width: $mobileL) {
      flex-basis: 100%;
    }

    h2 {
      text-transform: uppercase;
    }

    p {
      margin-bottom: 20px;
    }

    .actions,
    button {
      text-transform: uppercase;
    }

    .actions {
      display: flex;
      justify-content: space-between;

      @media all and (max-width: $mobileL) {
        align-items: center;
        flex-flow: column;
      }
    }

    .or {
      opacity: 0.6;
      line-height: 45px;

      @media all and (max-width: $mobileL) {
        display: none;
      }
    }

    button {
      background: $webButtonBg;
      height: 45px;
      padding: 10px 20px;
      color: $white;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      transition: 0.2s background-color;

      &:hover {
        background: $webButtonBgHover;
      }

      &:first-child {
        @media all and (max-width: $mobileL) {
          display: none;
        }
      }
    }
  }

  .illustration {
    background: url(../../../../../assets/img/greetings.png) no-repeat;
    background-size: 100%;
    position: absolute;
    width: 56%;
    height: 125%;
    right: -7%;
    bottom: -33%;
    z-index: 1;

    @media all and (max-width: $laptop) {
      width: 45%;
      right: 0;
      bottom: -61%;
    }

    @media all and (max-width: $tablet) {
      bottom: -77%;
    }

    @media all and (max-width: $mobileL) {
      display: none;
    }
  }
}

// Services Block
.services-block {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 0 0 0;

  h2 {
    color: $webWhiteText;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media all and (max-width: $mobileS) {
      font-size: 18px;
    }

    &:before,
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: $webButtonBg;
      opacity: 0.3;
    }

    &:before {
      flex: 0 1 5%;
    }

    &:after {
      flex: 0 1 84%;

      @media all and (max-width: $mobileL) {
        flex-basis: 64%;
      }
    }
  }

  .service-items {
    display: flex;
    justify-content: space-between;

    @media all and (max-width: $laptop) {
      padding: 0 30px;
    }

    @media all and (max-width: $mobileL) {
      flex-flow: column;
    }

    .item {
      display: flex;
      align-items: center;
      flex-flow: column nowrap;
      flex: 0 0 30%;

      @media all and (max-width: $mobileL) {
        margin-bottom: 20px;
      }

      img {
        width: 50%;
        margin-bottom: 20px;
      }

      h3 {
        text-transform: uppercase;
        color: $webBlackText;
        font-weight: bold;

        @media all and (max-width: $mobileL) {
          margin-bottom: 5px;
        }
      }

      p {
        color: $webDarkBg;
        text-align: center;
        opacity: 0.8;
      }
    }
  }
}

// Care Block
.care-block {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 0 30px 0;

  .care-info {
    @media all and (max-width: $laptop) {
      padding: 0 30px;
    }
  }

  h2 {
    color: $webWhiteText;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media all and (max-width: $mobileS) {
      font-size: 18px;
    }

    &:before,
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: $webButtonBg;
      opacity: 0.3;
    }

    &:before {
      flex: 0 1 5%;
    }

    &:after {
      flex: 0 1 68%;

      @media all and (max-width: $tablet) {
        flex-basis: 54%;
      }

      @media all and (max-width: $mobileL) {
        flex-basis: 14%;
      }
    }
  }

  img {
    width: 50%;
    border: 1px solid $webGreenBg;
    margin: 0 auto;
    display: block;

    @media all and (max-width: $mobileL) {
      width: 100%;
    }
  }

  p {
    color: $webDarkBg;
    text-align: center;
    opacity: 0.8;
  }
}
