<div class="home-wrapper">
  <div class="welcome-block__wrapper">
    <!-- Welcome Block -->
    <div class="welcome-block">
      <div class="greetings">
        <h2>Добро пожаловать!</h2>
        <p>
          Этот проект посвящен уходу за всевозможными тварями: от котиков до
          собачек, от мало до велика, от смрадно до прелестно. Здесь позаботятся
          \ сделают красиво \ приятно вашему любимцу. Заходите - не стесняйтесь,
          уходите - улыбайтесь.
        </p>
        <div class="actions">
          <button>Авторизация</button>
          <span class="or">или</span>
          <button>Просмотр портфолио</button>
        </div>
      </div>
      <div class="illustration"></div>
    </div>
  </div>
  <!-- Services Block -->
  <div class="service-block__wrapper">
    <div class="services-block">
      <h2>Услуги</h2>
      <div class="service-items">
        <div class="item">
          <img src="../../../../../assets/img/rocket.svg" alt="" />
          <h3>Услуга 1</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod
            facere minima temporibus rem. Provident, itaque. Ipsa animi saepe
            eaque inventore sed laborum, rem, aut totam quibusdam voluptate
            eveniet tempora velit.
          </p>
        </div>
        <div class="item">
          <img src="../../../../../assets/img/physics.svg" alt="" />
          <h3>Услуга 2</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod
            facere minima temporibus rem. rem, aut totam quibusdam voluptate
            eveniet tempora velit.
          </p>
        </div>
        <div class="item">
          <img
            style="position: relative; right: -20px;"
            src="../../../../../assets/img/eco-energy.svg"
            alt=""
          />
          <h3>Услуга 3</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod
            facere minima temporibus rem. Provident, itaque. Ipsa animi saepe
            eaque inventore sed laborum, rem, aut totam quibusdam voluptate
            eveniet tempora velit.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Care Block -->
  <div class="care-block">
    <h2>Заботьтесь о животных</h2>
    <div class="care-info">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta modi id
        quibusdam quam quos neque tempore sequi et tempora aperiam non quod
        quas, accusantium, necessitatibus dolorum! Animi, nobis minima. Veniam.
      </p>
      <img
        src="../../../../../assets/img/rsz_429416-svetik.jpg"
        alt="Cat and Dogs"
      />
    </div>
  </div>
</div>
