<p>update-reservation-modal works!</p>

<div class="update-container">
  <form class="update-form" [formGroup]="updateReservationForm" novalidate>
    <mat-form-field class="update-form__input-date-picker" appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input
        (ngModelChange)="selectDate()"
        formControlName="selectDate"
        matInput
        [matDatepickerFilter]="myFilter"
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div
      class="update-from__input-reservation-time-container"
      *ngIf="visible; else unset"
    >
      <mat-form-field
        class="update-form__input-reservation-time"
        *ngIf="reservationTime | async"
        appearance="fill"
      >
        <mat-label>Select</mat-label>
        <mat-select formControlName="selectTime">
          <mat-option *ngIf="visibleNine" value="{{ nine }}"
            >09:00 - 12:00</mat-option
          >
          <mat-option *ngIf="visibleTwelve" value="{{ twelve }}"
            >12:00 - 15:00</mat-option
          >
          <mat-option *ngIf="visibleFifteen" value="{{ fifteen }}"
            >15:00 - 18:00</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <ng-template #unset>
      <p>Свободного времени нет</p>
    </ng-template>
  </form>
</div>
