<div class="example-container">
  <form
    [formGroup]="updateReservationForm"
    novalidate
    class="update__reservation-form"
  >
    <mat-form-field class="update__full-width" appearance="fill">
      <mat-label>Выберите дату</mat-label>

      <input
        (ngModelChange)="checkReservationDate()"
        formControlName="selectDate"
        matInput
        [matDatepickerFilter]="myFilter"
        [matDatepicker]="picker"
      />

      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

    <div *ngIf="reservationTime | async">
      <mat-form-field
        *ngIf="visibleReservationTime; else hideReservationTime"
        appearance="fill"
      >
        <mat-label>Выберите время</mat-label>

        <mat-select formControlName="selectTime">
          <mat-option *ngIf="visibleNine" value="{{ nine }}">09:00</mat-option>
          <mat-option *ngIf="visibleTwelve" value="{{ twelve }}">
            12:00</mat-option
          >
          <mat-option *ngIf="visibleFifteen" value="{{ fifteen }}"
            >15:00</mat-option
          >
        </mat-select>
      </mat-form-field>

      <ng-template #hideReservationTime>
        <p class="not-free-time">Свободного времени нет</p>
      </ng-template>
    </div>

    <button
      color="primary"
      mat-raised-button
      mat-dialog-close
      (click)="updateReservation()"
      [disabled]="updateReservationForm.invalid"
      class="update__button update__button--first"
    >
      Изменить
    </button>

    <button
      color="warn"
      class="update__button"
      mat-raised-button
      (click)="onNoClick()"
    >
      Закрыть
    </button>
  </form>
</div>
