<div class="set-reservation-container">
  <form
    class="set-reservation-form"
    novalidate
    [formGroup]="setReservationForm"
    (ngSubmit)="setReservation()"
  >
    <div class="content">
      <mat-form-field class="content__input-email">
        <input formControlName="email" matInput placeholder="Введите email" />
        <mat-error *ngIf="setReservationForm.get('email').hasError('email')">
          Не корректный email
        </mat-error>
      </mat-form-field>
      <mat-form-field class="content__input-username">
        <input formControlName="username" matInput placeholder="Введите Имя" />
        <mat-error
          *ngIf="setReservationForm.get('username').hasError('required')"
        >
          Поле не может быть пустым
        </mat-error>
      </mat-form-field>
      <mat-form-field class="content__input-phone">
        <input
          type="number"
          formControlName="phone"
          matInput
          placeholder="Введите номер телефона"
        />
        <mat-error *ngIf="setReservationForm.get('phone').hasError('required')">
          Поле не может быть пустым
        </mat-error>
        <mat-error *ngIf="setReservationForm.get('phone').hasError('pattern')">
          9-максимальное колличество символов
        </mat-error>
      </mat-form-field>
      <mat-form-field class="content__input-selectService">
        <mat-select
          placeholder="Выберите сервис"
          formControlName="selectService"
          ><div
            class="serviceNameContainer"
            *ngFor="let service of services$ | async"
          >
            <mat-option
              (click)="selectedServiceCheckMethod()"
              value="{{ service.servicename }}"
              >{{ service.servicename }}</mat-option
            >
          </div>
        </mat-select>
      </mat-form-field>
      <!-- пока сервис не выбран скрывать поле с датой -->
      <mat-form-field
        *ngIf="selectedServiceCheck"
        class="content__input-selectDate"
      >
        <mat-label>Выберите дату</mat-label>
        <input
          formControlName="selectDate"
          (ngModelChange)="checkReservationDate()"
          matInput
          [matDatepickerFilter]="myFilter"
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div *ngIf="reservationTime | async">
        <mat-form-field
          *ngIf="visibleReservationTime; else hideReservationTime"
          class="content__input-selectTime"
        >
          <mat-select formControlName="selectTime" placeholder="Выберите время">
            <mat-option *ngIf="visibleNine" value="{{ nine }}"
              >09:00</mat-option
            >
            <mat-option *ngIf="visibleTwelve" value="{{ twelve }}"
              >12:00</mat-option
            >
            <mat-option *ngIf="visibleFifteen" value="{{ fifteen }}"
              >15:00</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <ng-template #hideReservationTime>
      <p>Свободного времени нет</p>
    </ng-template>

    <button (click)="onNoClick()" mat-button mat-dialog-close type="submit">
      Добавить бронирование
    </button>
  </form>
</div>
<!-- <div class="reset-container">
    <form
      class="reset-control"
      novalidate
      (ngSubmit)="reset()"
      [formGroup]="resetForm"
    >
      <a mat-raised-button routerLink="/">Венуться на главную</a>
      <span class="password">
        <mat-form-field>
          <input
            formControlName="password"
            matInput
            placeholder="Введите новый пароль"
            [type]="hidePassword ? 'password' : 'text'"
          />
          <mat-error *ngIf="resetForm.get('password').hasError('required')">
            Поле не может быть пустым
          </mat-error>
          <mat-error *ngIf="resetForm.get('password').hasError('minlength')">
            Короткий пароль (Минимум 6 символов)
          </mat-error>
        </mat-form-field> -->
