.set-reservation-container{


.set-reservation-form{

    position: relative;

    .icon-close{
        position: absolute;
        right:-5px;
        top:-10px;
        cursor: pointer;
    }
    
    width:60vw;
    padding: 10px;

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;

        .not-free-time{
            color: red;
            font-size: 12px;
        }
        
        .content__input{
            width:60vw;
            margin:0 0 15px 0;
        }
    }
}

 

    .set-reservation-form__button{
        display: block;
        align-self: flex-start;    
        padding: 0;
    }
}

