$white: #fff;
$black: #000;
$red: red;
$errorBg: rgba(250, 73, 73, 0.6);

$webDarkBg: #32373c;
$webGreenBg: #5acab2;
$webWhiteBg: #f9fafa;
$webButtonBg: #49b39c;
$webButtonBgHover: #329b84;
$webBlackText: #626467;
$webWhiteText: #819d9e;

// Device sizes
$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopM: 1366px;
$laptopL: 1440px;
$desktopS: 1600px;
$desktopM: 1920px;
$desktopL: 2560px;
